* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
 }
 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
.menu-head{
    border: solid 2px black;
    text-align: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}
li{
    border: solid 2px black;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: white;

}
.pad, .kubrice, .yom, .set {
    width: 25%;
    cursor: pointer;
}

.pad:hover, .kubrice:hover, .yom:hover, .set:hover {
    background-color: rgb(39, 41, 41);
}
/*สิ้นสุดส่วนบน*/
.foodview{
    align-content: center;
}
/*เริ่มต้น show img grid*/
.foodview-pad, .foodview-kubrice, .foodview-yom, .foodview-set{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 10px;
    gap: 5px;
}
img{
    height: 500px;
    width: 500px;
  }
.foodpad, .foodtom,.foodyom{
    text-align: center;
    font-size: 30px;
    
}

/*สิ้นสุด show img grid*/
@media only screen and (max-width: 680px) {
    .foodview-pad, .foodview-kubrice, .foodview-yom, .foodview-set{
        display: grid;
        grid-template-columns: auto;
        font-size: 15px;
        margin-top: 15px;
    }
    img{
        height: 250px;
        width: 250px;
    }
}
